<!DOCTYPE html>
<html>
<head>
  <title>Paper Racoon-pdf</title>
  <style>
    body {
      text-align: center;
      margin-top: 20px;
    }
    h1 {
      margin-bottom: 10px;
    }
    #drop-area {
      border: 2px dashed #ccc;
      border-radius: 5px;
      padding: 20px;
      cursor: pointer;
      margin-top: 20px;
    }
    #drop-area.highlight {
      border-color: #000;
    }
  </style>
</head>
<body>
  <h1>Paper Racoon</h1>
  <img src="/static/Racoon_index.jpg" alt="Upload Picture" style="width: 300px; height: 200px; margin-bottom: 5px;">
  <div>
    <form action="/summarize" method="POST" enctype="multipart/form-data">
      <label for="pdf">제게 논문을 주시면 해치워드릴게요</label><br>
      <input type="file" id="pdf" name="pdf" accept=".pdf">
      
      <button type="submit">Summarize</button>
    </form>
  </div>
  
  <div id="summary"></div>
</body>
</html>